@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-5">Welcome to RP*Kitchen</h1>
    <h5><p>Enjoy your meal with RP's Kitchen'.</p></h5>
</div>
<h6><p>RP*Kitchen brings a special authentic Indian delicacies to your table.</p>
    <p>At RP*Kitchen,each plate of delicacy that we make has a very special value for us.</p>
</h6>
<style>
    body {
        background-image: url("Images/RPK.jpg");
        background-size:initial;
    }
    
    </style>
