@model RP_kitchen.Models.AddDelicacyViewModel
@{
}

<h1> Add Delicacy </h1>

<form enctype="multipart/form-data" method="post" action="Add" >
    <div class="col-md-4">       
            <label for="" class="form-label">Catagory</label>
            <input type="text" class="form-control" asp-for="Catagory">        
    </div>
    <div class="col-md-4">
        <label for="" class="form-label">Name</label>
        <input type="text" class="form-control" asp-for="Name">
    </div>




    <div class="col-md-4">
        <label asp-for="Picture" class="control-label"></label>
        <div class="custom-file">
        <input asp-for="Picture" class="custom-file-input" id="IMPicture"
        >
        <label class="custom-file-lable" for="IMPicture"> </lable>   </div>
        <span asp-validation-for="Picture" class="text-danger"></span>
        
        <img id="PicturePrv" src="" alt="Logo Image"
         width="150" height="150" style="border:1px; margin-top:20px; margin-left:120px;"/>   
     </div>
    
    
    
    
      
    
    <div class="col-md-4">
        <label for="" class="form-label">Date</label>
        <input type="date" class="form-control" asp-for="Date">
    </div>

    <div class="col-md-4">
        <label for="" class="form-label">Price</label>
        <input type="number" class="form-control" asp-for="Price">
    </div>
    <div>         </div>

    <button type="submit" class="btn btn-primary">Add</button>
    <button type="submit" class="btn btn-danger" asp-action="Delete" asp-controller="Delicacies">Delete</button>
</form>



@section Scripts
{
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
<script type="text/javascript">
    $(".custom-file-input").on("change", function (){
        var fileName = $(this).val().split("\\").pop();
        $(this).siblings(".custom-file-lable").addClass("selected").html(fileName);

    });
    

</script>
}
   