@model RP_kitchen.Models.UpdateDelicacyViewModel
@{
}
<h1> Edit Delicacy </h1>

<form method="post" action="View" class="mt-4">
    <div class="mb-3">
        <label for="" class="form-label">Catagory</label>
        <input type="text" class="form-control" asp-for="Id" readonly>
    </div>
    <div class="mb-3">
        <label for="" class="form-label">Catagory</label>
        <input type="text" class="form-control" asp-for="Catagory">
    </div>
    <div class="mb-3">
        <label for="" class="form-label">Name</label>
        <input type="text" class="form-control" asp-for="Name">
    </div>
    <div class="mb-3">
        <label for="" class="form-label">Picture</label>
        <input type="text" class="form-control" asp-for="Picture">
    </div>
    <div class="mb-3">
        <label for="" class="form-label">Date</label>
        <input type="date" class="form-control" asp-for="Date">
    </div>

    <div class="mb-3">
        <label for="" class="form-label">Price</label>
        <input type="number" class="form-control" asp-for="Price">
    </div>


    <button type="submit" class="btn btn-primary">Save Changes</button>
    <button type="submit" class="btn btn-danger" asp-action="Delete" asp-controller="Delicacies">Delete</button>
</form>